fastapi
uvicorn
psycopg2-binary
SQLAlchemy
alembic
pydantic
pydantic[email]
requests
python-dotenv
python-json-logger
pytz

# Testing libraries
pytest
pytest-asyncio
httpx

# Linting and formatting
flake8
black